<h3>Formulario Básico con ngModel</h3>
<div class="container">
  <div class="row">
    <form name="form" id="form" (submit)="enviar()" #formulario="ngForm">
      <!-- Campo Nombre -->
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input [(ngModel)]="usuario.nombre" type="text" name="nombre" class="form-control" #nombre="ngModel" required="true"/>
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
          <div *ngIf="nombre.errors">
            Campo requerido
          </div>
        </div>
      </div>
      <!-- Campo Correo -->
      <div class="form-group">
        <label for="correo">E-mail:</label>
        <input [(ngModel)]="usuario.correo" type="text" name="correo" class="form-control" #correo="ngModel" required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
        <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="alert alert-danger">
          <div *ngIf="correo.errors">El campo es requerido</div>
          <div *ngIf="!correo.valid && correo.touched">El E-Mail ingresado no es valido</div>
        </div>
      </div>
      <!-- Campo Telefono -->
      <div class="form-group">
        <label for="telefono">Telefono:</label>
        <input [(ngModel)]="usuario.telefono" type="text" name="telefono" class="form-control" #telefono="ngModel" required="true"/>
        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
          <div *ngIf="telefono.errors">El campo es requerido</div>
        </div>
      </div>
      <!-- Campo Dirección -->
      <div class="form-group">
        <label for="direccion">Direccion:</label>
        <input [(ngModel)]="usuario.direccion" type="text" name="direccion" class="form-control" #direccion="ngModel" required="true"/>
        <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">
          <div *ngIf="direccion.errors">El campo es requerido</div>
        </div>
      </div>
      <!-- Campo Select Pais -->
      <div class="form-group">
        <label for="pais">Pais:</label>
        <select [(ngModel)]="usuario.pais" name="pais" class="form-control">
          <option *ngFor="let pais of paises" [value]="pais.dominio">{{pais.nombre}}</option>
        </select>
      </div>
      <br>
      <!-- Terminos y condiciones -->
      <div class="form-group">
        <label for="terminos">Terminos y condiciones:</label>
        <input [(ngModel)]="checkBoxMarca" (change)="seleccionaCheck($event)" class="ms-2" type="checkbox" name="terminos" id="terminos">
      </div>
      <hr>
      <!-- Boton Enviar -->
      <input [disabled]="!formulario.form.valid" type="submit" value="Enviar" class="btn btn-success">
    </form>
    <hr class="mt-5">
    <h4>Usuarios registrados ({{users.length}})</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>E-Mail</th>
          <th>Telefono</th>
          <th>Dirección</th>
          <th>Pais</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.nombre }}</td>
          <td>{{ user.correo }}</td>
          <td>{{ user.telefono }}</td>
          <td>{{ user.direccion }}</td>
          <td>{{ user.pais }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
