<!-- <h1>Aprendiendo Angular</h1>
<ul>
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="formularios" routerLinkActive="enlaces">Formularios</a>
  </li>
  <li>
    <a routerLink="material" routerLinkActive="enlaces">Material</a>
  </li>
  <li>
    <a routerLink="sobre-nosotros/45/mi-mama-me-mima" routerLinkActive="enlaces">Sobre nosotros</a>
  </li>
</ul> -->

<app-cabecera></app-cabecera>
<main class="container">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
